@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: #fff9ea;
    z-index: 3;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 24px;
    color: #e9a209;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600; 
}

.nav-item.active {
    color: #1d1d1dad;
    border-bottom: 3px solid #ffe100;
}

.reserva-button button {
    width: 100%;
    border: none;
    background-color: #e9a209;
    padding: 0.4rem;
    border-radius: 5px;
    cursor: pointer;
}

.reserva-button button:hover {
    background-color: #fab41e;
}

.reserva-button button a {
    text-decoration: none;
    color: #fff;
    font-size: 0.93rem;
    font-weight: 500;
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

.input-box input,
.input-box select {
    width: 100%;
    padding: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s;
}

.btn-whatsapp {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}